.wrapper {
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 2px;
  text-decoration: none;
  transition: transform 0.5s ease-out;
}

.wrapper:hover {
  transform: scale(1.03);
}

.wrapper:nth-of-type(8n+1) {
  grid-column: span 2;
  position: relative;
}

.wrapper:nth-of-type(8n+1) > .body {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.wrapper:nth-of-type(8n+1) > .body #title {
  color: white;
}

.wrapper:nth-of-type(8n+1) > .body #source {
  color: white;
}

.wrapper:nth-of-type(8n+1) > .image {
  height: 100%;
}

.image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.body {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.wrapper:hover > .body #title {
  text-decoration: underline;
}

.body #title {
  font-size: 16px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.body #source {
  color: #444;
  padding-top: 10px;
}
